@tailwind base;
@tailwind components;
@tailwind utilities;

.featureCard:hover .featureCardIcon {
    background-image: linear-gradient(30.55deg, #6ac7ff 11.05%, #148aff 90.09%);
    box-shadow: 0px 2px 22px rgb(202 202 202 / 25%);
  }

  .featureCard:hover .featureCardSVG {
    filter: drop-shadow(0px 2px 22px rgba(202, 202, 202, 0.45));
    /* stroke-opacity: 0 !important; */
  }

  .featureCard:hover .featureCardBox {
    background-image: url(./images/features-wave.svg);
    background-repeat: no-repeat;
    background-position: bottom 1rem right;
  }

  /* .feature2bg{
    background-image: url('/images/feature-section-2BG.svg');
    background-repeat: no-repeat;
   background-size:cover;
  } */

 
  .featureCard2:hover .featureCardBox {
    background-image: url('/images/features2-wave.svg');
    background-repeat: no-repeat;
    background-position: bottom 1rem right;
  }
  
  .featureCard2:hover .featureCardSVG {
    filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.4));
    stroke-opacity: 0 !important;
  }
  
  .featureCard2:hover .featureCardIcon {
    background-image: linear-gradient(188.57deg, #2095ff -16.05%, #6416ff 116.32%);
    box-shadow: 0px 2px 24px rgb(0 0 0 / 40%);
    transition: all 200ms ease-in-out;
  }

  .bgcard1{
    background-image: url('/images/instant-settlement-bg.svg');
    box-shadow: 0px 2px 22px rgb(202 202 202 / 25%);
    
  }
  .bgcard1:hover {
    background-image: url('/images/instant-settlement-bghover.svg');
  }
  .bgcard2{
    background-image: url('/images/upi-autopay-bg.svg');
    box-shadow: 0px 2px 22px rgb(202 202 202 / 25%);
    
  }
  .bgcard2:hover {
    background-image: url('/images/upi-autopay-hoverbg.svg');
  }

  .bgcard3{
    background-image:url('/images/magic-checkout-bg.svg');
    box-shadow: 0px 2px 22px rgb(202 202 202 / 25%);
    
  }
  .bgcard3:hover {
    background-image:  url('/images/magic-checkout-hoverbg.svg');
  }

  .bgcard4{
    background-image: url('/images/payment-button-bg.svg');
    box-shadow: 0px 2px 22px rgb(202 202 202 / 25%);
    
  }
  .bgcard4:hover {
    background-image: url('/images/payment-button-hoverbg.svg');
  }

  .bgcard5{
    background-image: url('/images/instantsettlement-bg.svg');
    box-shadow: 0px 2px 22px rgb(202 202 202 / 25%);
    
  }
  .bgcard5:hover {
    background-image: url('/images/instantsettlement-hoverbg.svg');
  }

  .corefeature{
    background-image: url('/images/core-features-sectionBg.svg');
    background-size: 100% 90%;
    padding-top: 10rem;
    padding-bottom: 15rem;
  }

  .companiesList{
    animation: 10s infinite linear moveCompany;
  }

  @keyframes moveCompany{
    0%{
      top:0;
    }
    100%{
      top:-50%;
    }
  }